{% extends 'main.html' %}


{% block content %}

<div class="row">

    <div class="col-lg-9">

        <div class="form-group has-search mb-4">
            <span class="fa fa-search form-control-feedback"></span>
            <input type="text" class="form-control" placeholder="Search by Topic or Category">
        </div>

        {% for post in posts %}
            <div class="card mb-3">
                <div class="card-body">
                <small>@{{post.author.username}} created this post {{post.created|timesince}} ago</small>
                <h5 class="card-title"><a href="{% url 'post-detail' post.id %}">{{post.title}}</a></h5>
                <p class="card-text">{{post.description}}</p>
                {% for cat in post.category.all %}
                <span class="badge rounded-pill bg-dark">{{cat}}</span>
                {% endfor %}
                </div>
            </div>
        {% endfor %}

        <!-- Pagination -->
        <nav>
            <ul class="pagination justify-content-center">
                <li class="page-item {% if not posts.has_previous %} disabled {% endif %}">
                    <a class="page-link" href="{% if posts.has_previous %} {% url 'list_posts' posts.previous_page_number %}{% endif %} ">Previous</a>
                </li>

                {% if posts.number|add:'-1' > 1 %}
                    <li class="page-item disabled"><a class="page-link">&hellip;</a></li>
                {% endif %}

                {% for i in posts.paginator.page_range %}
                    {% if posts.number == i %}
                        <li class="active page-item disabled"><a class="page-link" href="#">{{ i }}</a></li>
                    {% elif i > posts.number|add:'-2' and i < posts.number|add:'2' %}
                        <li class="page-item"><a class="page-link" href="{% url 'list_posts' i %}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if posts.paginator.num_pages > posts.number|add:'1' %}
                    <li class="page-item disabled"><a class="page-link" href="#">&hellip;</a></li>
                {% endif %}

                <li class="page-item {% if not posts.has_next %} disabled {% endif %}">
                    <a class="page-link" href="{% if posts.has_next %} {% url 'list_posts' posts.next_page_number %} {% endif %}">Next</a>
                </li>
            </ul>
        </nav>  

    </div>

    <!-- Side widgets-->
    <div class="col-lg-3">
                    
        <!-- Side widget-->
        <div class="card mb-4">
            <div class="card-header">Side Widget</div>
            <div class="card-body">You can put anything you want inside of these side widgets. They are easy to use, and feature the Bootstrap 5 card component!</div>
        </div>
    </div>

</div>

{% endblock %}
